.annotation {
	border: 2px solid black;
	width: 600px;
	height: 120px;
	overflow:auto;
	padding: 8px;
	display: none;
}
#anno_close {
     min-width: 590px;
     background-color: #eee;
     display: inline-block;	
     padding-left: 8px;	
	 padding-right: 8px;
	 text-align: right;
     font-size: 85%;	 
}
span.anno_exit {
	min-width:50px;
	display: inline-block;	
	background-color: #fff;
	border: 1px dotted gray;
    text-align: center;
	cursor: pointer;	
}

span.anno {
    cursor: help;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: black;
    border-bottom-color: black;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    
}
