.annotation,  .annotation_r, .anno_narrow_r, .anno_deep_r
 {
	border: 2px solid black;
	width: 620px;
	height: 120px;
	overflow:auto;
	padding: 8px;
	display: none;
}
.anno_narrow, .anno_narrow_r {
	height: 60px;
}

.anno_deep, .anno_deep_r{
	height: 160px;
}

.anno_narrow_r, .anno_deep_r, .annotation_r {
    border-radius: 15px;
 }
 
#anno_close {
     min-width: 590px;
     background-color: #eee;
     display: inline-block;	
     padding-left: 8px;	
	 padding-right: 8px;
	 text-align: right;
     font-size: 80%;	 
}
/*
span.anno_narrow_r #anno_close {
	display: none;	
}*/	
span.anno_exit {
	min-width:50px;
	display: inline-block;	
	background-color: #fff;
	border: 1px dotted gray;
    text-align: center;
	cursor: pointer;	
}

span.anno_col {
    border: 1px solid gray;
    min-width:80px;
    display: inline-block;	
}
span.anno_colspan_2 {
      border: 1px solid gray;
    min-width:120px;
    display: inline-block;	
}
span.anno_colspan_3 {
      border: 1px solid gray;
    min-width:180px;
    display: inline-block;	
}

span.anno {
    cursor: help;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: black;
    border-bottom-color: black;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    
}
span.theader {
    font-weight:bold;
    background-color:  #eee;
}

span.centeralign {
   text-align:center;
    
}

span[class*="anno_li"] {  
    display: inline-block;	  
    text-align: right;
}
span.anno_li_1 {
    min-width:  20px;
}
span.anno_li_2 {
    min-width:  40px;
}
span.anno_li_3 {
    min-width:  60px;
}

span.anno_li_4 {
    min-width:  80px;
}

span.anno_li_5 {
    min-width:  100px;
}
span.anno_li_6 {
    min-width:  120px;
}
span.anno_li_7 {
    min-width:  130px;
}span.anno_li_8 {
    min-width:  140px;
}
.h3_bold{
  font-weight: 600;
  font-size: 125%;
}
.h1_bold {
   font-weight: 650;
  font-size: 200%;
}
.h2_bold {
  font-weight: 650;
  font-size: 150%;
}
.h4_bold {
  font-weight: 600;
  font-size: 115%;
}
.extra_bold {
  font-weight: 900;
  font-size: 125%;
}
span.anno_blockquote {
  display: inline-block;
  margin: 0 0 1.4em 0; 
   padding: 0 .5em;
    border: solid #ddd;
    border-width: 0 0 0 .25em;

}

span.anno_hr {
    min-width: 580px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #fff;
     display: inline-block;	
     padding-left: 8px;	
	 padding-right: 8px;    
}
